.wrapper {
  max-width: 40em;
  margin: auto;
}

.title {
  text-align: center;
}

.links {
  padding: 0;
}

.links > *:not(:first-child) {
  margin-left: 1em;
}

.activeLink {
  font-weight: bold;
}
